body {
    background-image: url(../img/UNI.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
}



.fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tono {
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    background-position: center;
    max-width: 500px;
    color: aliceblue;

}

nav {
    clear: both;
    color: #ffffff;
    background-color: #242424;
    height: 60px;
    display: flex;
    max-width: 500px;
}

nav>ul {
    display: flex;

}

nav>ul li {
    list-style: none;
    margin: 2px 10px;


}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

figure {
    margin: 0 auto;
}

footer {
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    max-width: 500px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}